/** FONTS
font-family: 'AR One Sans', sans-serif;
font-family: 'Pixelify Sans', cursive;
font-family: 'Quintessential', cursive;
font-family: 'Roboto', sans-serif;
*/

body{
    margin: 0;
    background-color: #61677A;
    font-family: 'AR One Sans', sans-serif;
}

@media(max-width:1300px){
    .container{
        padding: 0 15px;
        width: 90%;
    }
}

.break{
    flex-basis: 100%;
    height: 0;
}

.container{
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #61677A;
}

.container a:hover{
    text-decoration: underline;
}

.container-proyectos{
    padding: 25px 0;
    width: 100%;
    background-color: #272829;
}

.proyecto{
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 20px;
    width: 65%;
    border: black 3px solid;
    text-align: center;
    background-color: #e4e5e6;
}

a{
    text-decoration: none;
    color: black;
}

.proyecto:hover{
    background-color: #a5a5a5;
}

footer{
    background-color: #61677A;
    height: 20vh;
    display: flex;
    align-items: center;
}

#iconos{
    margin: 0 auto;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

footer #iconos a{
    margin: 25px;
}

#linkedin:hover{
    color: #0e76a8;
}

#github:hover{
    color: #000000;
}

#instagram:hover{
    color: #ee2a7b;
}


/*Background Color Project 1*/
#background-colors{
    animation: backgroundcolorchange 5s infinite;
}

@keyframes backgroundcolorchange{
    0%{
        background-color: #219C90;
    }
    20%{
        background-color: #E9B824;
    }
    40%{
        background-color: #EE9322;
    }
    60%{
        background-color: #D83F31;
    }
    80%{
        background-color: #12486B;
    }
    100%{
        background-color: #419197;
    }
}

/*Hex Colors Project 2*/
#hex-colors h3{
    animation: lettercolorchange 5s infinite alternate;
}

@keyframes lettercolorchange{
    0%{
        color: indigo;
    }
    20%{
        color: blue;
    }
    40%{
        color: green;
    }
    60%{
        color: yellow;
    }
    80%{
        color: orange;
    }
    100%{
        color: red;
    }
}

/*Quote Generator Project 3*/
#quote-generator h3{
    font-family: 'Quintessential', cursive;
}
.quote-button {
	background-color:#12476b;
	border-radius:27px;
	border:3px solid #12476b;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	padding:14px 14px;
	text-decoration:none;
	text-shadow:0px 1px 0px #12476b;
}
.quote-button:hover {
	background-color:#419197;
}
.quote-button:active {
	position:relative;
	top:1px;
}

/*Pass the message Project 4*/
#message-input {
    padding: 5px;
    font-size: 16px;
    border-width: 1px;
    border-color: #78d6c6;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 0px;
    box-shadow: 0px 0px 5px rgba(120,214,198,.75);
    text-shadow: 0px 0px 0px rgba(120,214,198,.0);
}
#message-input {
    outline:none;
}

#message-sending-button{
    padding: 5px;
    font-size: 16px;
    border-width: 1px;
    border-color: #78d6c6;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 0px;
    box-shadow: 0px 0px 5px rgba(120,214,198,.75);
    text-shadow: 0px 0px 0px rgba(120,214,198,.0);
}

#message-sending-button:hover{
    background-color: #419197;
    border-color: #12476b;
}

/*Counter Project 5*/

#counter h3{
    font-family: 'Pixelify Sans', cursive;
}

#count{
    font-size: 5vh;
}

.counter-increase {
	background-color:#599bb3;
	border-radius:13px;
	border:1px solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:9px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.counter-increase:hover {
	background-color:#408c99;
}
.counter-increase:active {
	position:relative;
	top:1px;
}

.counter-reset {
	background-color:#fe1a00;
	border-radius:13px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:9px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
    margin: 10px 0;
}
.counter-reset:hover {
	background-color:#ce0100;
}
.counter-reset:active {
	position:relative;
	top:1px;
}

/*Image Carousel Project 6*/

/*Digital Clock Project 7*/
.digitalClock h1{
    display: inline-block;
    margin: 0 10px;
    font-weight: bold;
}

/*Calculator Project 8*/

#calculator-result-button {
	background-color:#599bb3;
	border-radius:0 13px 13px 0;
	border:1px solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:12px;
	padding:9px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.counter-increase:hover {
	background-color:#408c99;
}
.counter-increase:active {
	position:relative;
	top:1px;
}

#calculator-input {
    padding: 9px;
    text-align: right;
    font-size: 12px;
    border-width: 1px;
    border-color: #78d6c6;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 0px;
    box-shadow: 0px 0px 5px rgba(120,214,198,.75);
    outline: 0;
}

.calculator-erase {
	background-color:#fe1a00;
	border-radius:13px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:9px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
    margin: 10px 0;
}
.calculator-erase:hover {
	background-color:#ce0100;
}
.calculator-erase:active {
	position:relative;
	top:1px;
}

/*Grocery List Proyect 9*/
#allItems h2{
    font-size: 18px;
    user-select: none;
}

#allItems h2:hover{
    cursor: pointer;
}

#grocery-input{
    outline: 0;
    padding: 9px 13px;
    border: none;
    border-bottom: 3px solid black;
    width: 30%;
    font-size: 18px;
}

#grocery-list-erase {
    color: #000000;
	background-color:#fee500;
	border-radius:13px;
	border:1px solid #d8cc26;
	display:inline-block;
	cursor:pointer;
	font-family:Arial;
	font-size:12px;
	padding:9px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b2aa35;
    margin: 10px 0;
}
#grocery-list-erase:hover {
	background-color:#ceaf00;
}
#grocery-list-erase:active {
	position:relative;
	top:1px;
}

/*Tip calculator Project 10*/
#tip-amount{
    display: none;
    margin: 10px;
}

#tip-calculator input, #tip-calculator select, #tip-calculator button{
    padding: 5px;
    border-width: 1px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
}

#tip-calculator input, #tip-calculator select{
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 0px;
}

#tip-calculator button{
    background-color: #CCCCCC;
    border-radius: 5px 0 0 5px;
}